.experiencia{
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo{
  color: #CED3D9;
}

.experiencia-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #363B47;
}

.experiencia-texto strong{
  color: #0B0C12;
}

.empresa{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background: #F5F7FA;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  gap: 10px 20px;
}

.empresa::before{
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#18A0FB, #0041C0);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano{
  position: absolute;
  top: 22px;
  left: -100px;
  color: #363B47;
  font-size: 0.875rem;
  width: 60px;
  text-align: right;
}

.empresa-titulo{
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto{
  font-size: 0.875rem;
  line-height: 1.4;
  color: #363B47;
}

.empresa-habilidades{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: center;
}

.empresa-habilidades li{
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #fff;
  padding: 5px 10px;
}

@media (max-width:800px){
  .experiencia{
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo{
    color: #0B0C12;
  }

  .experiencia-texto{
    font-size: 1.25rem;
    margin-bottom: 40px;
  }

  .empresa-ano{
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
    font-weight: 700;
  }
}

@media (max-width:400px){
  .empresa{
    grid-template-columns: 1fr;
  }

  .experiencia{
    grid-template-columns: 1fr;
    gap: 20px;
  }
}